#client-form {
    border: 1px solid hotpink;
    background-color: #efefef;
    margin-bottom: 1.5rem;
}

.a2o-btn {
    margin-left: 1rem;
    margin-left: 1rem;
    display: inline;
}

.lavendar-ill {
    width: 15rem;
    height: 30rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
