table {
    background-color: white;
    border: 1px solid hotpink;
    border-collapse: collapse;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 1rem;
}

table th{
    border: 1px solid hotpink;
    background-color: #efefef;
}

table td{
    border: 1px solid hotpink;
    text-align: center;
    padding: 1rem
}

/* tr:hover{
    background-color: #efefef;
} */

tr:nth-child(even){
    background-color: #efefef;
} 

.tbl-btn {
    background-color: ivory;
    border-radius: 5px;
}

.tbl-btn:hover {
    background-color: #EBCF5B;
    border-radius: 5px;
}
