html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  background-color: #5E3D18;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  /* padding: 20px; */
}

:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

.practice-container {
  display: grid;
  height: 100vh;
  grid-template-columns: .65fr 1.1166fr 1.1166fr 1.1166fr;
  grid-template-rows: .75fr 1.083fr 1.083fr 1.083fr;
  grid-template-areas: 
    "header header header header"
    "nav main main main"
    "nav main main main"
    "nav main main main";
  grid-gap: .2rem;
  font-family: 'Helvetica', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  /* this will be the main text color A2O brown matches header */
  color: #5E3D18;
  text-align: center;
}

header {
  background-color: #EBCF5B;
  grid-area: header;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#header-banner {
  object-fit: contain;
  height: 10rem;
}

main {
  background-color: antiquewhite;
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

nav {
  background-color: #F7903D;
  grid-area: nav;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

/* #content1 {
  background-color: #A64B24; rusty red
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
} */

/* #content2 {
  background-color: #C3B035; limey green
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content3 {
  background-color: #73ffba;
  grid-area: content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
} */

/* footer {
  background-color: #73ffba;
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
} */

/* mobile breakpoint is currently 550px but you can change that for stretch */
@media only screen and (max-width: 550px) {
  .practice-container {
    grid-template-columns: 1fr;
    grid-template-rows: .5fr .5fr 2.2fr 1.3fr 1.3fr 1.3fr .5fr;
    grid-template-areas: 
      "header"
      "nav"
      "main";
      /* "content1"
      "content2"
      "content3"
      "footer"; */
  }
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  /* display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer; */
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: ;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}
