.navLink {
  color: #5E3D18;
  text-shadow: .75px .75px hotpink;
  font-size: 20px;
  text-decoration: none;
}

.navLink:hover {
  color: #F7903D;
  text-shadow: .75px .75px hotpink;
}

.logout_btn_asLink {
  padding: 0;
  border-width: 0;
  border-radius: 0;
  background: none;
  text-transform: uppercase;
  color: #5E3D18;
  text-shadow: .75px .75px hotpink;
  font-size: 20px;
}

.logout_btn_asLink:hover {
  background-color: transparent;
  color: #F7903D;
  text-shadow: .75px .75px hotpink;
}

  /* these last two make the logout button in
  the nav bar look like another link */
  /* border: none;
  cursor: pointer;
  outline: 0; */